<div class="row">

    <div class="col m1 offset-m9">
        ثبت نظر
        <br/>
        <a href="#modal1" class="modal-trigger large teal-text lighten-4"><i
                class="icon-blog"></i></a>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">

            <form action="{% url 'review:create_comment' %}" class="col s10 row comment_form" method="POST"
                  dir="rtl"
                  style="margin: auto; float: none">
                {% csrf_token %}
                {{ comment_form.comment_set }}
                <div class="input-field  col s9" style="float: none">
                    {{ comment_form.context }}
                    {{ comment_form.context.label_tag }}
                    {{ comment_form.context.errors }}

                </div>
                <div class="col s12">
                    <button name="member-comment-btn"
                            class="btn waves-effect waves-light row comment_button"
                            type="submit">ثبت نظر
                        <i class="icon-pencil"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="row">
    <div class="col s12 m8 offset-m2" dir="rtl">
        {% for comment in comment_set.comments.all %}
            <div class="green-text">
                {% ifequal comment.author request.user.member %}
                    شما
                    {{ comment.elapsed_time }}
                    گفتید که:
                {% else %}
                    {{ comment.author.full_name }}
                    {{ comment.elapsed_time }}
                    گفته که:
                {% endifequal %}


                <ul class="collection" dir="rtl">
                    <p class="blue-text">{{ comment.context }}</p>

                </ul>
            </div>

        {% endfor %}
    </div>
</div>
