{% extends 'layout.html' %}
{% load staticfiles %}
{% load static %}
{% block navbar %}
    <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'manager:edit_task' %}" class="normal navbar item">تایید خدمتگزار</a></li>
        <li><a href="{% url 'manager:task_model_list' %}" class="normal navbar item">لیست خدمات</a></li>
        <li class="active"><a href="{% url 'manager:edit_task' %}" class="normal navbar item">ایجاد خدمت</a></li>

    </ul>


    <ul id="nav-mobile" class="side-nav">
        <li><a href="{% url 'manager:edit_task' %}">تایید خدمتگزار</a></li>
        <li><a href="{% url 'manager:task_model_list' %}">لیست خدمات</a></li>
        <li class="active"><a href="{% url 'manager:edit_task' %}">ایجاد خدمت</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="icon-list2"></i></a>
{% endblock %}