{% extends 'manager/layout.html' %}
{% block container %}
    <div class="container">
        <div class="px-40 vertical spacer"></div>
        <div class="row">
            <div class="col s12 m2">&nbsp;</div>
            <div class="col s12 m8">

                {% csrf_token %}
                <div class="card">
                    <div class="card-content">
                        <ul class="collection">
                            {% for item in Taskers %}
                                <a href="" class="collection-item">{{ item.user.username }}</a>
                                <a href="" class="collection-item">{{ item.user.first_name }}</a>
                                <a href="" class="collection-item">{{ item.user.last_name }}</a>
                                <a href="" class="collection-item">{{ item.city }}</a>
                                <a href="" class="collection-item">{{ item.gender }}</a>
                                <form action="{% url 'manager:delete_tasker' item.id %}" method="post">
                                    {% csrf_token %}
                                    <button name="member-reg-btn" type="submit"
                                            class="waves-effect waves-light btn full width">حذف کارگزار
                                    </button>
                                </form>
                                <br>
                                <br>
                                <br>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col s12 m2">&nbsp;</div>
        </div>
    </div>

{% endblock %}
