{% extends 'layout.html' %}
{% load staticfiles %}
{% load apptags %}
{% block title %}
    ثبت نام کاربر
{% endblock %}
{% block static_css %}
    <link href="{% static "css/user/user.css" %}" rel="stylesheet" media="screen,projection"/>
{% endblock %}
{% block navbar %}
    <ul class="right hide-on-med-and-down">
        {% if not user.is_authenticated %}
            <li><a href="{% url 'user:registration' %}" class="normal navbar item">ثبت نام</a></li>
        {% endif %}

        <li class="active"><a href="{% url 'user:login' %}" class="normal navbar dropdown-button item"
                              data-activates="menu-links-1">
            {% if user.is_authenticated %}
                حساب کاربری
            {% else %}
                ورود
            {% endif %}</a>
            <ul id="menu-links-1" class="dropdown-content">
                {% if user.is_authenticated %}
                    <li class="active"><a href="{% url 'user:edit-customer-profile' %}">ویرایش حساب کاربری</a></li>
                    <li><a href="{% url 'user:profile_customer' user.id %}">حساب کاربری</a></li>
                    <li><a href="{% url 'user:profile_tasker' user.id %}">حساب کارمندی</a></li>
                    <li><a href="/logout/">خروج</a></li>
                {% endif %}


            </ul>
        </li>
        <li><a href="{% url 'user:index' %}" class="normal navbar item">صفحه اصلی</a></li>

    </ul>


    <ul id="nav-mobile" class="side-nav">
        <li class="active"><a href="#">صفحه ی اصلی</a></li>
        <li><a href="{% url 'user:login' %}">ورود</a></li>
        <li><a href="{% url 'user:registration' %}">ثبت نام</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="icon-list2"></i></a>

{% endblock %}


{% block container %}
    <div class="container">
        <div class="px-40 vertical spacer"></div>
        <div class="row">
            <div class="col s12 m2">&nbsp;</div>
            <div class="col s12 m8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-content">
                            {% for field in form %}
                                {{ field.label }}
                                <br/><br/>
                                <p dir="rtl">{{ field }}</p>
                                <div dir="rtl" class="error-msg">{{ field.errors }}</div>
                            {% endfor %}
                            {% if form.errors %}
                                {% for error in form.errors %}
                                    <div dir="rtl" class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            <button name="member-reg-btn" type="submit"
                                    class="waves-effect waves-light btn full width">ویرایش
                            </button>
                        </div>
                    </div>
                </form>


            </div>
            <div class="col s12 m2">&nbsp;</div>
        </div>
    </div>
{% endblock %}