{% extends user.is_authenticated|yesno:"logged_in_user.html,guest_user.html" %}
{#{% extends 'logged_in_user.html' %}#}
{% load staticfiles %}
{% load static %}
{% block title %}
    سامانه برون سپاری محلی کارها
{% endblock %}

{% block static_css %}

{% endblock %}
{##}
{#{% block navbar %}#}
{#    <ul class="right hide-on-med-and-down">#}
{#        {% if not user.is_authenticated %}#}
{#            <li><a href="{% url 'user:registration' %}" class="normal navbar item">ثبت نام</a></li>#}
{#        {% endif %}#}
{##}
{#        <li><a href="{% url 'user:login' %}" class="normal navbar dropdown-button item"#}
{#               data-activates="menu-links-1">#}
{#            {% if user.is_authenticated %}#}
{#                حساب کاربری#}
{#            {% else %}#}
{#                ورود#}
{#            {% endif %}</a>#}
{#            <ul id="menu-links-1" class="dropdown-content">#}
{#                {% if user.is_authenticated %}#}
{#                    <li><a href="{% url 'user:edit-customer-profile' %}">ویرایش حساب کاربری</a></li>#}
{#                    <li><a href="{% url 'user:profile_customer' user.id %}">حساب کاربری</a></li>#}
{#                    <li><a href="{% url 'service:edit_skill' %}">ثبت مهارت</a></li>#}
{#                    <li><a href="/logout/">خروج</a></li>#}
{#                {% endif %}#}
{##}
{##}
{#            </ul>#}
{#        </li>#}
{#        <li class="active"><a href="#" class="normal navbar item">صفحه اصلی</a></li>#}
{##}
{#    </ul>#}
{##}
{##}
{#    <ul id="nav-mobile" class="side-nav">#}
{#        <li class="active"><a href="#">صفحه ی اصلی</a></li>#}
{#        <li><a href="{% url 'user:login' %}">ورود</a></li>#}
{#        <li><a href="{% url 'user:registration' %}">ثبت نام</a></li>#}
{#    </ul>#}
{#    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="icon-list2"></i></a>#}
{##}
{#{% endblock %}#}

{% block container %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>

                <h1 class="header center teal-text text-lighten-2">بهتر زندگی کنید</h1>

                <div class="row center">
                    <h5 class="header col s12 light">خدمت گزار تنها چند کلیک با خانه شما فاصله دارد</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{% static "images/user/background.jpg" %}" alt="background image"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel teal" dir="rtl">
                         <span class="white-text">
                            <strong>تعداد بازدید کنندگان: </strong>{{ visits }}<br/>
                             <strong>تعداد کاربران بر خط: </strong>{{ request.online_now }}<br/>
                             <strong>تعداد کارفرمایان: </strong>{{ members.count }}<br/>
                             <strong>تعداد خدمات:</strong>{{ skills.count }}
                         </span>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="icon-user-check"></i></h2>
                        <h5 class="center">انتخاب خدمت گزار</h5>

                        <p class="light" dir="rtl">تمامی خدمت گزاران با دقت مورد ارزیابی قرار گرفته اند.</p>
                    </div>
                </div>

                {#                <div class="col s12 m4">#}
                {#                    <div class="search" dir="rtl">#}
                {#                        <div class="search-wrapper card">#}
                {#                            <input id="search" placeholder="جست و جو مهارت ...">#}
                {#                            <i class="icon-search"></i>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}

            </div>
            <div class="row" dir="rtl">
                <h3>پرکارترین کارفرمایان</h3><br/><br/>
                {% for member in best_members %}
                    <div class="right col s12 m3 post">
                        <div class="card">
                            <a href="#"></a>

                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ member.image.url }}">
                            </div>
                            <div class="card-content">{{ member.full_name }}<br/>{{ member.city }}</div>
                            <div class="card-action">
                                <a href="#" class="teal-text">تعداد سفارشات: {{ member.orders.count }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row" dir="rtl">
                <h3>برترین کارمندان</h3><br/><br/>
                {% for tasker in best_taskers %}
                    <div class="right col s12 m3 post" dir="rtl">
                        <div class="card">
                            <a href="#"></a>

                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ tasker.image }}">
                            </div>
                            <div class="card-content">{{ tasker.full_name }}<br/>{{ tasker.city }}<br/>
                            </div>
                            <div class="card-action">
                                <a href="#" class="teal-text">امتیاز: {{ tasker.rate }}</a>
                            </div>


                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}