{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    ورود به حساب کاربری
{% endblock %}
{% block static_css %}
    <link href="{% static "css/user/user.css" %}" rel="stylesheet" media="screen,projection"/>
{% endblock %}
{% block navbar %}
    <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'user:registration' %}" class="normal navbar item">ثبت نام</a></li>
        <li class="active"><a href="#" class="normal navbar item">ورود</a></li>
        <li><a href="{% url 'user:index' %}" class="normal navbar item">صفحه ی اصلی</a></li>

    </ul>


    <ul id="nav-mobile" class="side-nav">
        <li><a href="{% url 'user:index' %}">صفحه ی اصلی</a></li>
        <li class="active"><a href="#">ورود</a></li>
        <li><a href="{% url 'user:registration' %}">ثبت نام</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="icon-list2"></i></a>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="px-40 vertical spacer"></div>
        <div class="row">
            <div class="col s12 m2">&nbsp;</div>
            <div class="col s12 m8">
                <form method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-content">
                            {% for field in login_form %}
                                {{ field.tag }}
                                <p dir="rtl">{{ field }}</p>
                                <div dir="rtl" class="error-msg">{{ field.errors }}</div>
                            {% endfor %}
                            {% if msg %}
                                <div dir="rtl" class="error-msg">{{ msg }}</div>
                            {% endif %}
                            <button name="member-reg-btn" type="submit"
                                    class="waves-effect waves-light btn full width">ورود
                            </button>
                        </div>
                    </div>


                </form>


            </div>
            <div class="col s12 m2">&nbsp;</div>
        </div>
    </div>
{% endblock %}