{% extends 'logged_in_user.html' %}
{% load staticfiles %}
{% block title %}
    حساب کاربری
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row">

            <div class="col s4">
                <ul class="collection" dir="rtl">

                    <li class="collection-item">
                        <strong>نام کامل:</strong>
                        {{ member.user.username }}
                    </li>
                    <li class="collection-item">
                        <strong>تلفن همراه:</strong>
                        {{ member.mobile_number }}
                    </li>
                    <li class="collection-item">
                        <strong>جنسیت:</strong>
                        {% if member.gender == 'M' %}
                            مرد
                        {% else %}
                            زن
                        {% endif %}
                    </li>
                    <li class="collection-item">
                        <strong>شهر:</strong>
                        {{ member.city }}
                    </li>
                    <li class="collection-item">
                        <strong>آدرس:</strong>
                        {{ member.address }}
                    </li>

                </ul>
            </div>

            <div class="col s8">
                <ul class="collection" dir="rtl">
                    <li class="collection-item">
                        <table>
                            <thead>
                            <tr>
                                <th>خدمت گزار</th>
                                <th>کد سفارش</th>
                                <th>نام خدمت</th>
                                <th>دسته بندی</th>
                                <th>وضعیت</th>
                                <th>ثبت نظر</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in order_set %}



                                <tr>
                                    <td>{{ order.skill.tasker }}</td>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.skill }}</td>
                                    <td>{{ order.skill.category }}</td>
                                    <td>{{ order.get_status_display }}</td>

                                    <td><h4><a href="#modal1" class="modal-trigger large teal-text lighten-4"><i
                                            class="icon-blog"></i></a>
                                    </h4>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- Modal Structure -->
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <div class="row">
                                    <form class="col s10 row" method="POST" dir="rtl" style="margin: auto; float: none">
                                        {% csrf_token %}
                                        <div class="input-field  col s4" dir="rtl" style="float:none;">
                                            {{ comment_form.title }}
                                            {{ comment_form.title.label_tag }}
                                            {{ comment_form.title.errors }}

                                        </div>
                                        <div class="input-field  col s9" style="float: none">
                                            {{ comment_form.context }}
                                            {{ comment_form.context.label_tag }}
                                            {{ comment_form.context.errors }}

                                        </div>
                                        <div class="col s12">
                                            <button name="member-comment-btn" class="btn waves-effect waves-light row"
                                                    type="submit">ثبت نظر
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <form class="col s10 row" method="POST" dir="rtl" style="margin: auto; float: none">
                                        {% csrf_token %}
                                        {% for field in rating_form %}
                                            {#            <div class="col s12 m6"></div>#}
                                            <p class="range-field col s12 m3" style="float: right">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </p>

                                        {% endfor %}
                                        <div class="col s12">
                                            <button name="member-rating-btn" class="btn waves-effect waves-light row"
                                                    type="submit">درج رتبه
                                                <i class="icon-clipboard"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div>

{% endblock %}