{% extends 'logged_in_user.html' %}
{% load staticfiles %}
{% block title %}
    حساب کاربری
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row">

            <div class="col s4">
                <ul class="collection" dir="rtl">

                    <li class="collection-item">
                        <strong>نام کامل:</strong>
                        {{ member.user.username }}
                    </li>
                    <li class="collection-item">
                        <strong>تلفن همراه:</strong>
                        {{ member.mobile_number }}
                    </li>
                    <li class="collection-item">
                        <strong>جنسیت:</strong>
                        {% if member.gender == 'M' %}
                            مرد
                        {% else %}
                            زن
                        {% endif %}
                    </li>
                    <li class="collection-item">
                        <strong>شهر:</strong>
                        {{ member.city }}
                    </li>
                    <li class="collection-item">
                        <strong>آدرس:</strong>
                        {{ member.address }}
                    </li>

                </ul>
            </div>

            <div class="col s8">
                <ul class="collection" dir="rtl">
                    <li class="collection-item">
                        <table>
                            <thead>
                            <tr>
                                <th>خدمت گزار</th>
                                <th>کد سفارش</th>
                                <th>نام خدمت</th>
                                <th>دسته بندی</th>
                                <th>وضعیت</th>
                                <th>گزارش تکمیل</th>
                                <th>امتیاز</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in order_set %}



                                <tr>
                                    <td>{{ order.skill.tasker }}</td>
                                    <td>{{ order.code }}</td>
                                    <td>
                                        <a href="{% url 'service:show_skill' order.skill.tasker.id order.skill.id %}">{{ order.skill.title }}</a>
                                    </td>
                                    <td>{{ order.skill.category }}</td>
                                    <td>{{ order.get_status_display }}</td>

                                    <td>
                                        <h4>
                                            {% if not order.rate %}
                                                <a href="#modal{{ forloop.counter0 }}"
                                                   class="modal-trigger large teal-text lighten-4"><i
                                                        class="icon-blog"></i></a>
                                            {% endif %}
                                        </h4>
                                    </td>
                                    <td>{{ order.rate.rate }}</td>
                                </tr>
                                <div id="modal{{ forloop.counter0 }}" class="modal">
                                    <div class="modal-content">
                                        <div class="row">
                                            <div>لطفا برای بهبود عملکرد سایت در تشخیص کارمندان ضعیف به این عملکرد امتیاز
                                                داده و در صورت تمایل نظر دهید.
                                            </div>
                                            <form class="col s10 row comment_form"
                                                  action="{% url 'review:create_comment' %}" method="POST" dir="rtl"
                                                  style="margin: auto; float: none">
                                                {% csrf_token %}
                                                <input id="id_comment_set" name="comment_set" type="hidden"
                                                       value="{{ order.skill.comment_set }}"/>

                                                <div class="input-field  col s4" dir="rtl" style="float:none;">
                                                    {{ comment_form.title }}
                                                    {{ comment_form.title.label_tag }}
                                                    {{ comment_form.title.errors }}

                                                </div>
                                                <div class="input-field  col s9" style="float: none">
                                                    {{ comment_form.context }}
                                                    {{ comment_form.context.label_tag }}
                                                    {{ comment_form.context.errors }}

                                                </div>
                                            </form>
                                        </div>
                                        <div class="row">
                                            <form class="col s10 row rate_form" action="{% url 'review:create_rate' %}"
                                                  method="POST" dir="rtl"
                                                  style="margin: auto; float: none">
                                                {% csrf_token %}
                                                {{ rating_form.order }}
                                                <input id="id_order" name="order" type="hidden"
                                                       value="{{ order.id }}"/>
                                                <p class="range-field col s12 m3" style="float: right">
                                                    {{ rating_form.rate.label_tag }}
                                                    {{ rating_form.rate }}
                                                </p>
                                            </form>
                                            <div class="col s12">
                                                <button name="member-rating-btn"
                                                        class="btn waves-effect waves-light row confirm_button">
                                                    تایید اتمام کار
                                                    <i class="icon-clipboard"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- Modal Structure -->
                        <!-- Modal Structure -->

                    </li>
                </ul>
            </div>

        </div>
    </div>

{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'js/review/comment.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.confirm_button').click(function () {
{#                console.log($(this).closest('.modal').find('form').html("sss"));#}

                $(this).closest('.modal').find('.comment_form').submit();
                $(this).closest('.modal').find('.rate_form').submit();
            });
        });
    </script>
{% endblock %}
