{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    حساب کاربری
{% endblock %}

{% block navbar %}
    <ul class="right hide-on-med-and-down">
        {% if not user.is_authenticated %}
            <li><a href="{% url 'user:registration' %}" class="normal navbar item">ثبت نام</a></li>
        {% endif %}
        <li class="active"><a href="{% url 'user:login' %}" class="normal navbar dropdown-button item"
                              data-activates="menu-links-1">
            {% if user.is_authenticated %}
                حساب کاربری
            {% else %}
                ورود
            {% endif %}</a>
            <ul id="menu-links-1" class="dropdown-content">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user:edit-customer-profile' %}">ویرایش حساب کاربری</a></li>
                    <li class="active"><a href="{% url 'user:profile_customer' user.id %}">حساب کاربری</a></li>
                    <li><a href="{% url 'user:profile_tasker' user.id %}">حساب کارمندی</a></li>
                    <li><a href="/logout/">خروج</a></li>
                {% endif %}


            </ul>
        </li>
        <li><a href="{% url 'user:index' %}" class="normal navbar item">صفحه اصلی</a></li>

    </ul>


    <ul id="nav-mobile" class="side-nav">
        <li class="active"><a href="#">صفحه ی اصلی</a></li>
        <li><a href="{% url 'user:login' %}">ورود</a></li>
        <li><a href="{% url 'user:registration' %}">ثبت نام</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="icon-list2"></i></a>

{% endblock %}

{% block container %}

    <div class="container">
        <div class="row">

            <div class="col s4">
                <ul class="collection" dir="rtl">

                    <li class="collection-item">
                        <strong>نام کامل:</strong>
                        {{ member.user.username }}
                    </li>
                    <li class="collection-item">
                        <strong>تلفن همراه:</strong>
                        {{ member.mobile_number }}
                    </li>
                    <li class="collection-item">
                        <strong>جنسیت:</strong>
                        {% if member.gender == 'M' %}
                            مرد
                        {% else %}
                            زن
                        {% endif %}
                    </li>
                    <li class="collection-item">
                        <strong>شهر:</strong>
                        {{ member.city }}
                    </li>
                    <li class="collection-item">
                        <strong>آدرس:</strong>
                        {{ member.address }}
                    </li>

                </ul>
            </div>

            <div class="col s8">
                <ul class="collection" dir="rtl">
                    <li class="collection-item">
                        <table>
                            <thead>
                            <tr>
                                <th>خدمت گزار</th>
                                <th>کد سفارش</th>
                                <th>نام خدمت</th>
                                <th>دسته بندی</th>
                                <th>وضعیت</th>
                                <th>ثبت نظر</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in order_set %}



                                <tr>
                                    <td>{{ order.skill.tasker }}</td>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.skill }}</td>
                                    <td>{{ order.skill.category }}</td>
                                    <td>انجام‌شده</td>

                                    <td><h4><a href="#modal1" class="modal-trigger large teal-text lighten-4"><i
                                            class="icon-blog"></i></a>
                                    </h4>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- Modal Structure -->
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <div class="row">
                                    <form class="col s10 row" method="POST" dir="rtl" style="margin: auto; float: none">
                                        {% csrf_token %}
                                        <div class="input-field  col s4" dir="rtl" style="float:none;">
                                            {{ comment_form.title }}
                                            {{ comment_form.title.label_tag }}
                                            {{ comment_form.title.errors }}

                                        </div>
                                        <div class="input-field  col s9" style="float: none">
                                            {{ comment_form.context }}
                                            {{ comment_form.context.label_tag }}
                                            {{ comment_form.context.errors }}

                                        </div>
                                        <div class="col s12">
                                            <button name="member-comment-btn" class="btn waves-effect waves-light row"
                                                    type="submit">ثبت نظر
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <form class="col s10 row" method="POST" dir="rtl" style="margin: auto; float: none">
                                        {% csrf_token %}
                                        {% for field in rating_form %}
                                            {#            <div class="col s12 m6"></div>#}
                                            <p class="range-field col s12 m3" style="float: right">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </p>

                                        {% endfor %}
                                        <div class="col s12">
                                            <button name="member-rating-btn" class="btn waves-effect waves-light row"
                                                    type="submit">درج رتبه
                                                <i class="icon-clipboard"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div>

{% endblock %}