{% extends 'logged_in_user.html' %}
{% load static %}

{% block container %}
    <div class="container" dir="rtl" >
        <div class="px-40 vertical spacer"></div>
        <div class="row">
            <div class="col s12 m2">&nbsp;</div>
            <div class="col s12 m8">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-content">
                            {% for field in form %}
                                {{ field.label }}
                                <br/><br/>
                                <p dir="rtl">{{ field }}</p>
                                <div dir="rtl" class="error-msg">{{ field.errors }}</div>
                            {% endfor %}
                            {% if form.errors %}
                                {% for error in form.errors %}
                                    <div dir="rtl" class="error-msg">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        <br/>
                            <button name="member-reg-btn" type="submit"
                                    class="waves-effect waves-light btn full width">ثبت مهارت
                            </button>
                        </div>
                    </div>


                </form>


            </div>
            <div class="col s12 m2">&nbsp;</div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}