{% extends 'layout.html' %}
{% load static %}
{% block navbar %}
    <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'user:registration' %}" class="normal navbar item">ثبت نام</a></li>
        <li><a href="{% url 'user:login' %}" class="normal navbar dropdown-button item"
               data-activates="menu-links-1">
            {% if user.is_authenticated %}
                حساب کاربری
            {% else %}
                ورود
            {% endif %}</a>
            <ul id="menu-links-1" class="dropdown-content">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user:additional_info' %}">تکمیل اطلاعات</a></li>
                    <li><a href="{% url 'user:profile_customer' user.id %}">حساب کاربری</a></li>
                    <li><a href="{% url 'user:profile_tasker' user.id %}">حساب کارمندی</a></li>
                    <li><a href="{% url 'user:work' user.id %}">همکاری</a></li>
                    <li><a href="/logout/">خروج</a></li>
                {% endif %}


            </ul>
        </li>
        <li class="active"><a class="normal navbar item" href="#">خدمت گزاران</a></li>
        <li><a href="{% url 'user:index' %}" class="normal navbar item">صفحه اصلی</a></li>

    </ul>


    <ul id="nav-mobile" class="side-nav">
        <li class="active"><a href="#">صفحه ی اصلی</a></li>
        <li><a href="{% url 'user:login' %}">ورود</a></li>
        <li><a href="{% url 'user:registration' %}">ثبت نام</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="icon-list2"></i></a>

{% endblock %}
{% block container %}
    {% for skill in skills %}
        {{ skill.tasker.rate }}
        salam
    {% endfor %}
{% endblock %}