{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="{% static "js/effects/modernizr.custom.js" %}"></script>
    <script src="{% static "js/effects/toucheffects.js" %}"></script>
    <link href="{% static "css/effects/component.css" %}" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/effects/default.css" %}" rel="stylesheet" media="screen,projection"/>


    <title></title>
</head>
<body>
<ul class="grid cs-style-1">
    {% for model in task_models %}

        <li>
            <figure>

                <img src="{{ model.image.url }}" alt="img01">
                <figcaption>
                    <h3>{{ model.name }}</h3>
                    <span>{{ model.description }}</span>
                    <a href="">Take a look</a>
                </figcaption>
            </figure>
        </li>
    {% endfor %}

</ul>

</body>
</html>