{% extends 'logged_in_user.html' %}
{% load static %}

{% block container %}
    <div class="container">
        <div class="row" dir="rtl">
            {% for tasker in taskers %}
                <div class="right col s12 m6 l4 post">
                    <div class="card">
                        <a href="#"></a>

                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{{ tasker.image }}">
                        </div>
                        <div class="card-content">{{ tasker.full_name }}<br/>{{ tasker.city }}</div>
                        <div class="card-action">
                            <a href="{% url 'service:tasker_profile' tasker.id %}">نمایش حساب کارمندی</a>
                        </div>
                    </div>
                </div>
                </div>

            {% endfor %}
    </div>
{% endblock %}