{% extends 'customer_mode.html' %}

{% block container %}
    <div class="container">
        <div class="row">
            {% for item in categories %}


                <div class="col s12 m4 ">
                    <div class="card " dir="rtl">
                        <div class="card-image">
                            <img src="{{ item.image.url }}">
                            <span class="card-title red-text">{{ item.name }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'service:show_taskers' item.id %}">نمایش خدمت گزاران</a>
                        </div>
                    </div>

                </div>



            {% endfor %}
        </div>
    </div>
{% endblock %}

