{% extends 'logged_in_user.html' %}
{% load static %}

{% block container %}
    <div class="container">
        <div class="row" dir="rtl">
            {% for tasker in taskers %}
                <div class="right col s12 m6 l4 post">
                    <div class="card medium">
                        <a href="#"></a>

                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{{ tasker.image.url }}">
                        </div>
                        <div class="card-content">{{ tasker.full_name }}<br/>{{ tasker.city }}</div>
                        <div class="card-action">
                            <a href="{% url 'service:tasker_profile' tasker.id %}">نمایش حساب کارمندی</a>
                            <a>امتیاز: {{ tasker.rate }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}