{% extends 'customer_mode.html' %}
{% load static %}
{% block container %}
    <div class="container">
        <div class="row">
            {% for skill in skills %}


                <div class="col s12 m4 ">
                    <div class="card small" dir="rtl">
                        <div class="card-image">
                            <img src="{{ skill.image.url }}">
                            <span class="card-title red-text">{{ skill.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ skill.description }}</p>


                        </div>
                        <div class="card-action">
                            <a href="{% url 'service:show_skill' skill.tasker.id skill.id %}">نمایش مهارت</a>
                            <a href="">استخدام</a>
                        </div>
                    </div>

                </div>



            {% endfor %}
        </div>
    </div>
{% endblock %}