{% extends 'logged_in_user.html' %}
{% load static %}
{% load comment_tags %}
{% block container %}
    <div class="container" dir="rtl">
        <div class="row">
            <div class="col m6 ">
                {#                #todo inja ye moshkeli dare in akse defaulte#}
                <img src="{{ tasker.image.url }}">
            </div>
            <div class="col m6">
                <ul class="collection" dir="rtl">

                    <li class="collection-item">
                        <strong>نام کامل:</strong>
                        {{ tasker.user.username }}
                    </li>
                    <li class="collection-item">
                        <strong>تلفن همراه:</strong>
                        {{ tasker.mobile_number }}
                    </li>
                    <li class="collection-item">
                        <strong>جنسیت:</strong>
                        {% if tasker.gender == 'M' %}
                            مرد
                        {% else %}
                            زن
                        {% endif %}
                    </li>
                    <li class="collection-item">
                        <strong>شهر:</strong>
                        {{ tasker.city }}
                    </li>
                    <li class="collection-item">
                        <strong>آدرس:</strong>
                        {{ tasker.address }}
                    </li>

                </ul>
            </div>

        </div>
        <div class="row">
            {% for skill in tasker.skills.all %}


                <div class="col s12 m6 ">
                    <div class="card large" dir="rtl">
                        <div class="card-image">
                            <img src="{{ skill.image.url }}">
                            <span class="card-title red-text">{{ skill.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ skill.description }}</p>


                        </div>
                        <div class="card-action">
                            <a href="{% url 'service:show_skill' skill.tasker.id skill.id %}">نمایش مهارت</a>
                            <a href="">استخدام</a>
                        </div>
                    </div>

                </div>



            {% endfor %}
        </div>
    </div>
    {% comment_form_show tasker.comment_set %}
{% endblock %}
